<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />

    <style>
      .mybox1 {
        background-color: tomato;
        min-height: 200px;
        margin: 20px 10px;
        padding: 20px;
      }

      .mybox2 {
        background-color: rgb(71, 231, 71);
        min-height: 200px;
        margin: 20px 10px;
        padding: 20px;
      }
      .mybg1 {
        background-color: darkslategray;
      }
    </style>
  </head>
  <body>
    <div class="container-fluid mybg1">
      <div class="container">
        <div class="row">
          <div class="col-4"><div class="mybox1">Logo</div></div>
          <div class="col"><div class="mybox1">Nav</div></div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col">
          <div class="mybox1">
            <p class="m-5 m-md-0">
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vero
              doloribus dicta obcaecati nemo ullam. Delectus magnam temporibus
              eius suscipit dolorum tempore eos. Excepturi dolorem sed
              consequuntur totam ea sapiente, ipsum atque animi quisquam
              deleniti natus quo sint voluptatum aut voluptas delectus
              repellendus architecto dicta, ut vel ducimus, exercitationem
              quidem praesentium! Dignissimos tempora nihil sed dolores nisi
              laborum natus distinctio illo labore in earum vel delectus aut
              sapiente doloremque totam animi blanditiis, culpa laboriosam sit
              voluptas voluptatum. Sunt vel, impedit aperiam, provident officiis
              maxime perferendis dicta vero beatae velit fugiat. Dolores
              mollitia aperiam iste at libero! Mollitia ullam nam nisi at?
            </p>
            <div class="row">
              <div class="col mybox2 mx-4">Nest 1</div>
              <div class="col mybox2 mx-4">Nest 2</div>
            </div>
          </div>
        </div>
      </div>

      <div class="row mb-5">
        <div class="col">
          <div class="mybox1">feature 1</div>
        </div>
        <div class="col">
          <div class="mybox1">feature 2</div>
        </div>
        <div class="col">
          <div class="mybox1">feature 3</div>
        </div>
      </div>
    </div>
  </body>
</html>
